a
{
	color: #22BCE0;
}

body
{
	background: #EEEEEE;
	font-family: Arial;
	font-size: 16px;
}

header
{
	
	background:#000000;
	color:white;
	overflow: hidden;
	padding: 0.5em;
	position: relative;

}

header figure
{
float: left;
}

header h1
{
	font-size: 1.2em;
	font-weight: normal;
	margin:1.5em 70px 0 0;
}

header #avatar
{
	margin: 1.5em 0.5em 0 0;
	position:absolute;
	right:0;
	top:0;
}

header #avatar img
{
	border-radius:50%;
	width: 60px;
}

header #logo img
{
	border-right: 1px solid white;
	margin-right: 0.5em;
	margin: 0 0 0 0;
	padding-right: 0.5em;
	width: 70px;
}

nav
{
	background: #80BCA3;
	margin:0;
	padding:0 0.5em;
	position: relative;
}

nav ul
{
	list-style: none;
	margin:0;
	padding:0;
}

nav ul #publicar_nav
{
	position: absolute;
	top:-0.5em;
	right: 0;
}
nav ul #publicar_nav a
{
	background: #22BCE0;
	border-radius: 0.5em;
	font-style: italic;
	padding: 1em;
	text-decoration: none;
}
nav ul li
{
	display: inline-block;
	margin: 0 1em 0 0;
}
nav ul li a
{
	color:white;
	display:block;
	padding:0.5em 0;
}